SUPABASE_PROJECT_ID="gkgkohevzriflycusdoh"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_p1Lhh-n9yWpAW-gxSMNMlA_-Tv3bT-z"
SUPABASE_URL="https://gkgkohevzriflycusdoh.supabase.co"
VITE_SUPABASE_PROJECT_ID="gkgkohevzriflycusdoh"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_p1Lhh-n9yWpAW-gxSMNMlA_-Tv3bT-z"
VITE_SUPABASE_URL="https://gkgkohevzriflycusdoh.supabase.co"
